@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#header {
  background: rgb(109, 167, 170);
  background: linear-gradient(
    90deg,
    rgba(109, 167, 170, 1) 0%,
    rgba(85, 180, 162, 1) 100%
  );
}

#body1 {
  background: rgb(20,69,71);
background: linear-gradient(90deg, rgba(20,69,71,1) 0%, rgba(0,121,121,1) 100%);
}
